body {
    padding-top: 50px;
    background: linear-gradient(to bottom, #fffff0 0%, #fffff0 30%,#000000 30%,white 30%,white 100%);
    background-attachment:fixed;
    background-repeat: no-repeat;

    color: #24282a;
}

.index-body {
    margin-top: 125px;
    padding-left: 100px;
    paddin-top: 50px;
    text-align: left;
}
