<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/ameicon.png">

    <title>Adam Meets Eve</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/user.css" rel="stylesheet">
    <link href="/AdamMeetsEve.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <![endif]-->
</head>

<nav class="navbar navbar-expand-md fixed-top navbar-dark" div id="navbar">
    <a class="navbar-brand abs" th:href="@{/}">AdamMeetsEve</a>
    <ul class="navbar-nav mr-auto">
        Current Profile: <span th:utext="${session.activeProfile}"></span>
    </ul>
    <ul class="navbar-nav ml-auto">
        <a th:href="@{/displayall}" class="btn btn-outline-success my-2 my-sm-0 barBtn">Find All Users</a>
        <button class="btn btn-outline-success my-2 my-sm-0 barBtn" id="advSearchBtn" data-toggle="modal" data-target="#searchModal">Advanced Search</button>
        <a th:href="@{'/viewprofile/' + ${session.activeProfile}}" class="btn btn-outline-success my-2 my-sm-0 barBtn">Return To Your Profile</a>
        <form action="logout" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-info btn-md barBtn">Logout</button>
        </form>
    </ul>
</nav>

<div id="searchModal" class="modal-fade" style="z-index:9999;" role="dialog";>

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="search" th:action="@{/searchresult}" th:object="${searchParameters}" method="post">
            <p>Advanced Search. Who Are You Looking For?</p><br>
            <table div id="infoTbl" style="width:100%">
                <tr>
                    <th>Min Age: <input type="text" div id="textBox" placeholder="Age Range Start" th:field="*{ageStart}"/></th>
                    <th>Max Age: <input type="text" div id="textBox" placeholder="Age Range End" th:field="*{ageEnd}"/></th>
                </tr>
                <tr>
                    <th>Gender:<input type="text" div id="textBox" placeholder="Gender" th:field="*{gender}"/></th>
                </tr>
                <tr>
                    <th>Min Height: <input type="text" div id="textBox" placeholder="Min Height" th:field="*{heightstart}"/></th>
                    <th>Max Height: <input type="text" div id="textBox" placeholder="Max Height" th:field="*{heightend}"/></th>

                </tr>
                <tr>
                    <th>Min Weight: <input type="text" div id="textBox" placeholder="Min Weight" th:field="*{weightstart}"/></th>
                    <th>Max Weight: <input type="text" div id="textBox" placeholder="Max Weight" th:field="*{weightend}"/></th>
                </tr>
                <tr>
                    <th>Hair color: <input type="text" div id="textBox" placeholder="Hair color" th:field="*{hairColor}"/></th>
                </tr>
                <tr>
                    <th><input type="submit"/></th>
                </tr>
            </table>
        </form>
    </div>

</div>

<h1><span th:utext="${foundEmployeePerson.getFirstName()}"></span> <span th:utext="${foundEmployeePerson.getLastName()}"></span>'s Employee Page.<br>
    <span th:if="${isManager == true}">Manager Privileges.</span>
</h1><br><br>

<div class="container">

    <div class="index-body">
        <p class="lead">
            <span th:utext="${foundEmployeePerson.getFirstName()}"></span> <span th:utext="${foundEmployeePerson.getLastName()}"></span>'s info.
        </p>
        <hr size="2">
        <p>
            Employee Role: <span th:utext="${foundEmployee.getRole()}"></span><br>
            Hourly Wages: <span th:utext="${foundEmployee.getHourlyRate()}"></span><br>
            Start Date: <span th:utext="${foundEmployee.getStartDate()}"></span><br>

            <button type="btn-md" data-toggle="collapse" div id="button" data-target="#employeeinfo">Click to view and edit full employee data.</button>

        <div id="employeeinfo" class="collapse">
            <form action="changeempinfo" th:action="@{/changeemployeeinfo}" th:object="${employeeChangeInfo}" method="post">
                <input type="hidden" th:value="${foundEmployeePerson.getSsn()}" name="ssn" id="ssn"/>
                <table div id="infoTbl">
                    <tr>
                        <th><b>SSN: </b></th>
                        <th><span th:utext="${foundEmployeePerson.getSsn()}"></span></th>
                    </tr>
                    <tr>
                        <th><b>E-mail:</b></th>
                        <th><span th:utext="${foundEmployeePerson.getEmail()}"></span></th>
                        <th><input type="text" div id="textBox" th:value="${foundEmployeePerson.getEmail()}" placeholder="Change E-mail" th:field="*{email}"/></th>
                    </tr>
                    <tr>
                        <th><b>Password:</b></th>
                        <th><span th:utext="${foundEmployeePerson.getPassword()}"></span></th>
                        <th><input type="text" div id="textBox" th:value="${foundEmployeePerson.getPassword()}" placeholder="Change Password" th:field="*{password}"/></th>
                    </tr>
                    <tr>
                        <th><b>Name: </b></th>
                        <th><span th:utext="${foundEmployeePerson.getFirstName()}"></span> <span th:utext="${foundEmployeePerson.getLastName()}"></span></th>
                        <th><input type="text" div id="textBox" th:value="${foundEmployeePerson.getFirstName()}" placeholder="Change First Name" th:field="*{firstName}"/></th>
                        <th><input type="text" div id="textBox" th:value="${foundEmployeePerson.getLastName()}" placeholder="Change Last Name" th:field="*{lastName}"/></th>
                    </tr>
                    <tr>
                        <th><b>Address: </b></th>
                        <th><span th:utext="${foundEmployeePerson.getStreet()}"></span>, <span th:utext="${foundEmployeePerson.getCity()}"></span>, <span th:utext="${foundEmployeePerson.getState()}"></span>, <th><span th:utext="${foundEmployeePerson.getZipcode()}"></span></th>
                    </tr>
                    <tr>
                        <th><input type="text" div id="textBox" th:value="${foundEmployeePerson.getStreet()}" placeholder="Change Street" th:field="*{street}"/></th>
                        <th><input type="text" div id="textBox" th:value="${foundEmployeePerson.getCity()}" placeholder="Change City" th:field="*{city}"/></th>
                        <th><input type="text" div id="textBox" th:value="${foundEmployeePerson.getState()}"placeholder="Change State" th:field="*{state}"/></th>
                        <th><input type="text" div id="textBox" th:value="${foundEmployeePerson.getZipcode()}" placeholder="Change Zip Code" th:field="*{zipcode}"/></th>
                    </tr>
                    <tr>
                        <th><b>Telephone #:</b></th>
                        <th><span th:utext="${foundEmployeePerson.getTelephone()}"></span><br></th>
                        <th><input type="text" div id="textBox" th:value="${foundEmployeePerson.getTelephone()}" placeholder="Change Phone #" th:field="*{telephone}"/></th>
                    </tr>
                    <tr>
                        <th><b>Role: </b></th>
                        <th><span th:utext="${foundEmployee.getRole()}"></span></th>
                        <th><input type="text" div id="textBox" th:value="${foundEmployeePerson.getPassword()}" placeholder="Change Password" th:field="*{role}"/></th>
                    </tr>
                    <tr>
                        <th><b>Start Date:</b></th>
                        <th><span th:utext="${foundEmployee.getHourlyRate()}"></span></th>
                        <th><input type="text" div id="textBox" th:value="${foundEmployeePerson.getPassword()}" placeholder="Change Password" th:field="*{hourlyRate}"/></th>
                    </tr>
                    <tr>
                        <th><input type="submit" div id="button" onclick="reloadPage()"/></th>
                    </tr>
                </table>
            </form>
        </div><br>
        <hr size="2">
        <table>
            <tr th:if="${isManager == true}" th:each="employee: ${allEmployees}">
                <td>Employee SSN: </td>
                <td><span th:text="${employee.getSsn()}"></span></td>
            </tr>
        </table>
        </p>
    </div>

<script>
    function reloadPage(){
        location.reload();
    }
</script>

<script>
    var modal = document.getElementById('searchModal');

    // Get the button that opens the modal
    var btn = document.getElementById("advSearchBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        $("#searchModal").removeClass("in");
        $(".modal-backdrop").remove();
        $("#searchModal").hide();
        $("#searchModal").removeData();
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="/https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>