<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/ameicon.png">

    <title>Adam Meets Eve</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/profile.css" rel="stylesheet">
    <link href="/AdamMeetsEve.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <![endif]-->
</head>

<nav class="navbar navbar-expand-md fixed-top navbar-dark" div id="navbar">
    <a class="navbar-brand abs" th:href="@{/}">AdamMeetsEve</a>
    <ul class="navbar-nav mr-auto">
        Current Profile: <span th:utext="${session.activeProfile}"></span>
    </ul>
    <ul class="navbar-nav ml-auto">
        <a th:href="@{/displayall}" class="btn btn-outline-success my-2 my-sm-0 barBtn">Find All Users</a>
        <button class="btn btn-outline-success my-2 my-sm-0 barBtn" id="advSearchBtn" data-toggle="modal" data-target="#searchModal">Advanced Search</button>
        <a th:href="@{'/viewprofile/' + ${session.activeProfile}}" class="btn btn-outline-success my-2 my-sm-0 barBtn">Return To Your Profile</a>
        <form action="logout" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-info btn-md barBtn">Logout</button>
        </form>
    </ul>
</nav>

<div id="searchModal" class="modal-fade" style="z-index:9999;" role="dialog";>

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="search" th:action="@{/searchresult}" th:object="${searchParameters}" method="post">
            <p>Advanced Search. Who Are You Looking For?</p><br>
            <table div id="infoTbl" style="width:100%">
                <tr>
                    <th>Min Age: <input type="text" div id="textBox" placeholder="Age Range Start" th:field="*{ageStart}"/></th>
                    <th>Max Age: <input type="text" div id="textBox" placeholder="Age Range End" th:field="*{ageEnd}"/></th>
                </tr>
                <tr>
                    <th>Gender:<input type="text" div id="textBox" placeholder="Gender" th:field="*{gender}"/></th>
                </tr>
                <tr>
                    <th>Min Height: <input type="text" div id="textBox" placeholder="Min Height" th:field="*{heightstart}"/></th>
                    <th>Max Height: <input type="text" div id="textBox" placeholder="Max Height" th:field="*{heightend}"/></th>

                </tr>
                <tr>
                    <th>Min Weight: <input type="text" div id="textBox" placeholder="Min Weight" th:field="*{weightstart}"/></th>
                    <th>Max Weight: <input type="text" div id="textBox" placeholder="Max Weight" th:field="*{weightend}"/></th>
                </tr>
                <tr>
                    <th>Hair color: <input type="text" div id="textBox" placeholder="Hair color" th:field="*{hairColor}"/></th>
                </tr>
                <tr>
                    <th><input type="submit"/></th>
                </tr>
            </table>
        </form>
    </div>

</div>

</div>
<h1>You are viewing <span th:utext="${foundProfile.getProfileID()}"></span>'s profile page.
    <br>
    <table>
        <tr>
            <th>
        <button type="button" button id="dateButton" class="btn btn-info profBtn" data-toggle="modal" data-target="#dateModal">
            <img src="https://cdn4.iconfinder.com/data/icons/signicon-pt-1-1/100/049_-_meet-256.png" div id="buttonimg">
        </button>
            </th>
            <th>
    <form action="like" th:action="@{${foundProfile.getProfileID()} + '/addLike'}" method="post">
        <button type="submit" class="btn btn-default profBtn" div id="likeButton" onclick="likeAlert()">
            <img src="https://macho-men.com/wp-content/uploads/2016/01/cropped-heart.png" div id="buttonimg">
        </button>
    </form>
            </th>
            <th>
    <button class="btn btn-default profBtn" div id="referButton">
        <img src="http://www.iconsplace.com/icons/preview/orange/arrow-256.png" div id="buttonimg">
    </button>
            </th>
        </tr>
    </table>
</h1><br><br>


<div id="dateModal" class="modal-fade" style="z-index:9999;" role="dialog";>

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close2">&times;</span>
        <form action="date" th:action="@{${foundProfile.getProfileID()} + '/addDate'}" th:object="${dateInfo}" method="post">
            <p>Record Your Date</p><br>
            <table div id="infoTbl" style="width:100%">
                <tr>
                    <th><input type="text" div id="textBox" placeholder="Location" th:field="*{location}"/> Date Location</th>
                </tr>
                <tr>
                    <th><input type="text" div id="textBox" placeholder="Location" th:field="*{rating1}"/> Your rating of the date</th>
                </tr>
                <tr>
                    <th><input type="text" div id="textBox" placeholder="Location" th:field="*{rating2}"/> Their rating of the date</th>
                </tr>
                <tr>
                    Comments:
                </tr>
                <tr>
                    <th><input type="text" div id="textBox" placeholder="Comments" th:field="*{comments}"  style="width: 150px; height: 80px;"/></th>
                </tr>
                <tr>
                    <th><input type="submit" onclick="dateAlert()"/></th>
                </tr>
            </table>
        </form>
    </div>

</div>

<script>
    function likeAlert(){
        alert("Like added!");
    }

    function dateAlert(){
    }
</script>

<div class="container">

    <div class="index-body">
        <p class="lead">
            About <span th:utext="${foundProfile.getProfileID()}"></span>:
        </p>
        <hr size="2">
        <p>
            Age: <span th:utext="${foundProfile.getAge()}"></span><br>
            Gender: <span th:utext="${foundProfile.getMalefemale()}"></span><br>
            Height: <span th:utext="${foundProfile.getHeight()}"></span><br>
            Weight: <span th:utext="${foundProfile.getWeight()}"></span><br>
            Hair Color: <span th:utext="${foundProfile.getHairColor()}"></span><br>
            Preferred Dating Age Range: <span th:utext="${foundProfile.getRangestart()}"></span> - <span th:utext="${foundProfile.getRangeend()}"></span><br>
            preferred Dating Location Range: <span th:utext="${foundProfile.getGeorange()}"></span>  miles<br>
            Hobbies: <span th:utext="${foundProfile.getHobbies()}"></span><br>
        </p>
        <hr size="2">
        <p>
        <div>
            <span th:utext="${foundProfile.getProfileID()}"></span>'s Dates:
            <button class="btn btn-default" data-toggle="collapse" data-target="#dates" div id="likesButton">
                <img src="https://cdn4.iconfinder.com/data/icons/signicon-pt-1-1/100/049_-_meet-256.png" div id="buttonimg">
            </button>
        </div>
        <div id="dates" class="collapse">
            <table div id="infoTbl">
                <tr>
                    <th>See <span th:utext="${foundProfile.getProfileID()}"></span>'s dates.</th>
                </tr>
                <tr>
                    <b>
                        <th>Profile 1</th>
                        <th>Profile 2</th>
                        <th>Customer Representative</th>
                        <th>Booking Fee</th>
                        <th>Date Location</th>
                        <th>Profile 1's Rating</th>
                        <th>Profile 2's Rating</th>
                        <th>Date's Time and Date</th>
                        <th>Date Comments</th>
                    </b>
                </tr>
                <tr th:each="profile: ${allDates}">
                    <td><a th:href="@{'/viewprofile/'+ ${profile.getProfileID1()}}"><span th:text="${profile.getProfileID1()}"></span></a></td>
                    <td><a th:href="@{'/viewprofile/'+ ${profile.getProfileID2()}}"><span th:text="${profile.getProfileID2()}"></span></a></td>
                    <td><span th:text="${profile.getCustRep()}"></span></a></td>
                    <td><span th:text="${profile.getBookFee()}"></span></a></td>
                    <td><span th:text="${profile.getLocation()}"></span></a></td>
                    <td><span th:text="${profile.getUser1rate()}"></span></a></td>
                    <td><span th:text="${profile.getUser2rate()}"></span></a></td>
                    <td><span th:text="${profile.getDateTime()}"></span></a></td><br>
                    <td><span th:text="${profile.getComments()}"></span></a></td>
                </tr>
            </table>
        </div>
        <div>
            <hr size="2">
            <span th:utext="${foundProfile.getProfileID()}"></span>'s Likes:
            <button class="btn btn-default" data-toggle="collapse" data-target="#likes" div id="likesButton">
                <img src="https://macho-men.com/wp-content/uploads/2016/01/cropped-heart.png" div id="buttonimg">
            </button>
        </div>
        <div id="likes" class="collapse">
            <table div id="infoTbl">
                <tr>
                    <th>Liked To: </th>
                </tr>
                <tr th:each="profile: ${likedBy}">
                    <td><a th:href="@{'/viewprofile/'+ ${profile.getLikee()}}"><span th:text="${profile.getLikee()}"></span></a></td>
                    <td><span th:text="${profile.getTimeLike()}"></span></a></td>
                </tr>
                <tr>
                    <th>Liked By: </th>
                </tr>
                <tr th:each="profile: ${likedTo}">
                    <td><a th:href="@{'/viewprofile/'+ ${profile.getLiker()}}"><span th:text="${profile.getLiker()}"></span></a></td>
                    <td><span th:text="${profile.getTimeLike()}"></span></a></td>
                </tr>
            </table>
        </div>
        <hr size="2">
        <div>
            <span th:utext="${foundProfile.getProfileID()}"></span>'s Referrals:
            <button class="btn btn-default" data-toggle="collapse" data-target="#referrals" div id="likesButton">
                <img src="http://www.iconsplace.com/icons/preview/orange/arrow-256.png" div id="buttonimg">
            </button>
        </div>
        <div id="referrals" class="collapse">
            <table div id="infoTbl">
                <tr>
                    <th>See <span th:utext="${foundProfile.getProfileID()}"></span>'s referrals.</th>
                </tr>
                </tr>
                <tr th:each="profile: ${allReferrals}">
                    <td><a th:href="@{'/viewprofile/'+ ${profile.getProfileID1()}}"><span th:text="${profile.getProfileID1()}"></span></a> referred </td>
                    <td><a th:href="@{'/viewprofile/'+ ${profile.getProfileID2()}}"><span th:text="${profile.getProfileID2()}"></span></a> to </td>
                    <td><a th:href="@{'/viewprofile/'+ ${profile.getProfileID3()}}"><span th:text="${profile.getProfileID3()}"></span></a> on </td>
                    <td><span th:text="${profile.getReferredDate()}"></span>.</td>
                </tr>
            </table>
        </div>
        </p>
    </div>



</div><!-- /.container -->


<script>

</script>

<script>
    var modal2 = document.getElementById('dateModal');

    // Get the button that opens the modal
    var btn2 = document.getElementById("dateButton");

    // Get the <span> element that closes the modal
    var span2 = document.getElementsByClassName("close2")[0];

    // When the user clicks on the button, open the modal
    btn2.onclick = function() {
        modal2.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span2.onclick = function() {
        $("#dateModal").removeClass("in");
        $(".modal-backdrop").remove();
        $("#dateModal").hide();
        $("#dateModal").removeData();
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal2) {
            modal2.style.display = "none";
        }
    }
</script>

<script>
    var modal = document.getElementById('searchModal');

    // Get the button that opens the modal
    var btn = document.getElementById("advSearchBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        $("#searchModal").removeClass("in");
        $(".modal-backdrop").remove();
        $("#searchModal").hide();
        $("#searchModal").removeData();
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="/https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>